.diagnostic-list-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 15px;

  top: 827px;
  left: 417px;
  width: 766px;
  height: 349px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;

  .title {
    top: 847px;
    left: 437px;
    width: 176px;
    height: 33px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800)
      var(--unnamed-font-size-24) / var(--unnamed-line-spacing-33)
      var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
  }

  .diagnostic-list-chart {
    .chart-labels {
      display: grid;
      grid-template-columns: 1fr 1.5fr 0.5fr;
      padding-left: 15px;

      height: 48px;
      background: #f6f7f8 0% 0% no-repeat padding-box;
      border-radius: 24px;
      opacity: 1;

      .label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        opacity: 1;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-14) /
          var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal bold 14px/19px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;
      }
    }

    .chart-values {
      display: grid;
      grid-template-columns: 1fr 1.5fr 0.5fr;

      .chart-value {
        padding: 10px 0;
        padding-left: 15px;

        height: 19px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
          var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal normal 14px/19px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;
      }
    }
  }
}
